<%= form_tag rodauth.authorize_path, method: :post do %>
  <h2>The application <%= rodauth.oauth_application[rodauth.oauth_applications_name_column] %> would like to access your data.</h2>

  <div class="form-group">
    <h3>Requested grants:</h3>

    <% rodauth.scopes.each do |scope| %>
      <% is_default = scope == rodauth.oauth_application_default_scope %>
      <div class="form-check">
        <%= check_box_tag scope, scope, is_default, disabled: is_default, class: "form-check-input" %>
        <%= label_tag scope, scope, class: "form-check-label" %>
      </div>
    <% end %>
    <%= hidden_field_tag :client_id, params[:client_id] %>
    <% if params[:state] %>
      <%= hidden_field_tag :state, params[:state] %>
    <% end %>
    <% if params[:redirect_uri] %>
      <%= hidden_field_tag :redirect_uri, params[:redirect_uri] %>
    <% end %>
    <% if params[:code_challenge] %>
      <%= hidden_field_tag :code_challenge, params[:code_challenge] %>
    <% end %>
    <% if params[:code_challenge_method] %>
      <%= hidden_field_tag :code_challenge_method, params[:code_challenge_method] %>
    <% end %>
  </div>
  <div class="form-group">
    <%= submit_tag "Authorize", class: "btn btn-primary" %>
    <%= link_to "Cancel", "#{rodauth.redirect_uri}?error=access_denied&error_description=The+resource+owner+or+authorization+server+denied+the+request#{"&state=\#{params[:state]}" if params[:state]}", class: "btn btn-danger" %>
  </div>
<% end %>