<form method="post" class="form-horizontal" role="form" id="login-form">
  <%=  csrf_tag(rodauth.authorize_path) if respond_to?(:csrf_tag) %>
  <p>Grants: <%= rodauth.scopes.join(", ") %></p>
  <input type="hidden" name="client_id" value="<%= rodauth.param("client_id") %>"/>
  <% if rodauth.param_or_nil("scope") %>
    <input type="hidden" name="scope" value="<%= rodauth.param_or_nil("scope") %>"/>
  <% end %>
  <% if rodauth.param_or_nil("nonce") %>
    <input type="hidden" name="nonce" value="<%= rodauth.param("nonce") %>"/>
  <% end %>
  <% if rodauth.param_or_nil("state") %>
    <input type="hidden" name="state" value="<%= rodauth.param("state") %>"/>
  <% end %>
  <% if rodauth.param_or_nil("redirect_uri") %>
    <input type="hidden" name="redirect_uri" value="<%= rodauth.redirect_uri %>"/>
  <% end %>
  <% if rodauth.param_or_nil("access_type") %>
    <input type="hidden" name="access_type" value="<%= rodauth.param("access_type") %>"/>
  <% end %>
  <% if rodauth.param_or_nil("response_type") %>
    <input type="hidden" name="response_type" value="<%= rodauth.param("response_type") %>"/>
  <% end %>
  <% if rodauth.param_or_nil("code_challenge") %>
    <input type="hidden" name="code_challenge" value="<%= rodauth.param("code_challenge") %>"/>
  <% end %>
  <% if rodauth.param_or_nil("code_challenge_method") %>
    <input type="hidden" name="code_challenge_method" value="<%= rodauth.param("code_challenge_method") %>"/>
  <% end %>
  <!-- OIDC -->
  <% if rodauth.param_or_nil("nonce") %>
    <input type="hidden" name="nonce" value="<%= rodauth.param_or_nil("nonce") %>"/>
  <% end %>
  <!-- THE END -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-default" value="Authorize"/>
    </div>
  </div>
</form>