<form action= "/oauth-applications" method="post" class="form-horizontal" role="form" id="oauth-application-form">
  <h2>Register Oauth Application</h2>
  <%= csrf_tag if respond_to?(:csrf_tag) %>
  <input type="hidden" name="lp" value="<%= rodauth.param('lp') %>"/>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="name">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control<%= ' error' if rodauth.field_error('name')%>" name="name" id="name"/>
      <%= rodauth.field_error('name') %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="description">Description</label>
    <div class="col-sm-10">
      <input type="text" class="form-control<%= ' error' if rodauth.field_error('description') %>" name="description" id="description"/>
      <%= rodauth.field_error('description') %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="homepage_url">Homepage URL</label>
    <div class="col-sm-10">
      <input type="text" class="form-control<%= ' error' if rodauth.field_error('homepage_url') %>" name="homepage_url" id="homepage-url"/>
      <%= rodauth.field_error('homepage_url') %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="redirect_uri1">Redirect URI (1)</label>
    <div class="col-sm-10">
      <input type="text" class="form-control<%= ' error' if rodauth.field_error('redirect_uri') %>" name="redirect_uri[]" id="redirect-uri1"/>
      <%= rodauth.field_error('redirect_uri') %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="redirect_uri2">Redirect URI (2)</label>
    <div class="col-sm-10">
      <input type="text" class="form-control<%= ' error' if rodauth.field_error('redirect_uri') %>" name="redirect_uri[]" id="redirect-uri2"/>
      <%= rodauth.field_error('redirect_uri') %>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Secret (make it random and at least 32 character-long)</label>
    <input type="text" class="form-control<%= ' error' if rodauth.field_error('client_secret') %>" name="client_secret" id="client-secret" value="<%= rodauth.param('client_secret') %>" />
    <%= rodauth.field_error('client_secret') %>
  </div>
  <% rodauth.oauth_application_scopes.each do |scope| %>
 	<div>
	  <input id="<%= scope %>" type="checkbox" name="scopes[]" value="<%= scope %>">
	  <label for="<%= scope %>"><%= scope %></label>
	</div>
  <% end %>
  <%= rodauth.field_error('scope') %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-default" value="Register"/>
    </div>
  </div>
</form>