<% tokens_count = @oauth_tokens.count %>
<div>
  <h2>Oauth tokens (<%= tokens_count %>)</h2>
  <% if tokens_count.zero? %>
    <p>No oauth tokens yet!</p>
  <% else %>
    <ul>
      <% @oauth_tokens.each do |oauth_token| %>
        <li>
          <dl>
            <dt>Token</dt>
            <dd><%= oauth_token[:token] %></dd>
            <dt>Refresh Token</dt>
            <dd><%= oauth_token[:refresh_token] %></dd>
            <dt>Expires in</dt>
            <dd><%= oauth_token[:expires_in] %></dd>
            <% if oauth_token[:revoked_at] %>
              <dt>Revoked at</dt>
              <dd><%= oauth_token[:revoked_at] %></dd>
            <% end %>
          </dl>
            <% if !oauth_token[:revoked_at] %>
              <form method="post" action="<%= rodauth.oauth_revoke_path %>" class="form-horizontal" role="form" id="login-form">
                <%=  csrf_tag(rodauth.revoke_path) if respond_to?(:csrf_tag) %>
                 <input type="hidden" name="token_type_hint" value="access_token" />
                 <input type="hidden" name="token" value="<%= oauth_token[:token] %>" />
                 <input type="submit" class="btn btn-default" value="Revoke"/>
              </form>
            <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>